@use "../../assets/scss/var";

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var.$lightGreen;

  h1 {
	font-size: 20px;
	color: teal;
	margin-bottom: 20px;
  }

  form {
	display: flex;
	flex-direction: column;
	padding: 50px;
	background-color: white;
	width: 200px;
	gap: 20px;

	input {
	  padding: 10px;
	  border: none;
	  border-bottom: 1px solid gray;
	}

	button {
	  padding: 10px;
	  border: none;
	  background-color: teal;
	  color: white;
	  cursor: pointer;
	}

	p {
	  font-size: 12px;
	  color: red;
	  text-align: center;
	}

	span {
	  font-size: 12px;
	  text-align: center;
	}
  }
}
